.card {
  padding: 24px;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  display: flex;
  flex-direction: column;
  min-width: 888px;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
  color: #101828;
}

.image {
  width: 392px;
  height: 320px;
  border-radius: 10px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
  color: #101828;
  margin-left: auto;
}

.rating,
.location,
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #101828;
}

.description {
  color: #475467;
  margin-bottom: 24px;
}

.buttonCard {
  display: inline-block;
  padding: 16px 40px;
  background-color: #e44848;
  color: #ffffff;
  text-align: center;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  cursor: pointer;
}

.buttonCard:hover {
  background-color: #d84343;
}

.ratingLocation {
  display: flex;
  margin-bottom: 24px;
}
.titleBox {
  display: flex;

  align-items: center;
  margin-bottom: 8px;
}
.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Відстань між кнопками */
}
.iconStar {
  fill: #f2f4f7;
  width: 16px;
  height: 16px;
}
.iconStar:hover {
  fill: #ffc531;
}
