.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  max-width: 641px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px 57px;
  margin: 44px 0;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputField {
  max-width: 527px;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  background-color: #f7f7f7;
  outline: none;
  border: none;
  border-radius: 12px;
}

.inputField:focus {
  border-color: #007bff;
}
.formTitle {
  text-align: left;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.formText {
  text-align: center;
  margin-bottom: 24px;
  color: #6c717b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

textarea {
  width: 100%;
  padding: 18px 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;

  background-color: #f7f7f7;
  border: none;

  border-radius: 12px;
}

textarea:focus {
  border-color: #007bff;
}

.submitButton {
  display: block;
  text-align: center;
  padding: 16px 49px;
  background-color: #e44848;
  color: #ffffff;
  font-size: 16px;

  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  border: none;
  margin: 24px auto 0;
}

.submitButton:hover {
  background-color: #d84343;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
