.options {
  display: flex;
  width: 112px;
  height: 96px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid var(--Gray-light, #dadde1);
  mix-blend-mode: multiply;
}
.span {
  color: var(--Main, #101828);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
}
