.featuresContainer {
  padding-bottom: 80px;
}

.featureBox {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 44px 52px;
}
.navigation {
  display: flex;
  gap: 20px; /* Відступ між елементами */
  align-items: center; /* Вирівнювання по вертикалі */
}

.link {
  cursor: pointer;
  color: #007bff; /* Зміна кольору тексту, можна змінити на потрібний */
  text-decoration: none; /* Забрати підкреслення */
  font-weight: bold; /* Жирний текст */
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  color: #101828;
}

.link:hover {
  text-decoration: underline;
}
.thinLine {
  border: none;

  margin: 24px 0 44px;
  border: 1px solid #dadde1;
  width: 100%;
}

/* .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  color: #101828;
} */

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.category {
  padding: 12px 18px;
  color: #101828;

  background-color: #f2f4f7;
  gap: 8px;
  border-radius: 100px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.detailsTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  text-align: left;
  color: #101828;
  margin-bottom: 48px;
}

.detailsList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.line {
  border: 1px solid #dadde1;
  margin: 24px 0;
}
