.locationContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  padding-left: 64px;
  padding-top: 48px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #6c717b;
}

.inputBox {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  padding: 18px 20px;
  gap: 4px;
  cursor: pointer;
}

.icon {
  fill: #6c717b;
  width: 20px;
  height: 20px;
}

.activeIcon {
  fill: #101828;
}

span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #6c717b;
}

.activeText {
  color: #101828;
}
