/* .filterContainer {
  width: 360px;
  margin-left: 64px;
}

.filterTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 32px;
}
.optionTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 48px;
}

.optionsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 12px;
  width: 360px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112px;
  height: 112px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  background-color: #fff;
  padding: 16px 40px;
  gap: 8px;
}

.option label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #101828;
}

.icon {
  width: 32px;
  height: 32px;
}
.searchButton {
  display: inline-block;
  padding: 16px 49px;
  background-color: #e44848;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.searchButton:hover {
  background-color: #d84343;
}
.optionsGrid {
  margin: 40px;
}
.optionsGrid:first-child {
  margin: 32px;
}

  .separator {
    border: none; 
    border-top: 1px solid #dadde1;
    margin: 24px; 
    width: 360px; 
  }  */

.filterContainer {
  width: 360px;
  margin-left: 64px;
}

.filterTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 32px;
}

.optionTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
}

.optionsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три стовпці */
  gap: 12px; /* Відстань між елементами */

  width: 360px;
}
.optionsGrid {
  margin-bottom: 40px;
}
.optionsGrid:first-child {
  margin-bottom: 32px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 96px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  background-color: #fff;
}

.option label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #101828;
}

.icon {
  width: 32px;
  height: 32px;
}

.searchButton {
  display: inline-block;
  padding: 16px 49px;
  background-color: #e44848;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.searchButton:hover {
  background-color: #d84343;
}

.separator {
  border: none; /* Якщо використовуєте <hr> */
  border-top: 1px solid #dadde1;
  margin: 24px 0; /* Відступи згори і знизу для простору */
  width: 100%; /* Щоб розтягнути на всю ширину контейнера */
}
